*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ------------------------------------------------ */
/* ------------------Desktop -----------------------*/
/* ------------------------------------------------ */

header {
    background-color: rgb(175, 65, 65);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    /* margin: 0 0 0 25vh; */
    margin-left: 10%;
}

.logo img {
    width: 100px;
}

.menu {
    display: flex;
    margin-right: 5%;
}

.menu a {
    /* background-color: none; */
    /* border: none; */
    color: white;
    font-size: 20px;
    padding: 0 32px;
    text-align: center;
    text-decoration: none;
    /* display: flex; */
    cursor: pointer; 
}

.screen {
    background-image: url(../../public/assets/background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.screen-content{
    background: rgb(139, 43, 43,0.6);
    padding: 16%;
    height: 100vh;
    color: white;
}

.title {
    font-size: 60px;
}

.description {
    font-size: 30px;
    padding: 20px 0 60px;
    
}

.btn-products {
    border: none;
    border-radius: 50px;
    width: 300px;
    height: 65px;
    background: rgb(192, 62, 62);
    font-size: 20px;
    color: white;
    cursor: pointer;
}

.container {
    padding-top: 4%;
    height: 110vh;
    background: rgba(255, 170, 170, 0.623);
}


.product-title {
    text-align: center;
}

.products {
    display: flex;
}

.row {
    width: 100%;
    padding: 5vh 12%;
    /* display: grid;
    grid-template-columns: repeat(3, 2fr); */
    gap: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: center;
}

.card {
    border: 1px solid gray;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 250px;
    font-size: 11px;
}

.contain-img {
    width: 100%;
    height: 60%;
}

.img-card {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

.name-product {
    color: white;
    background: rgb(192, 62, 62);
    text-align: center;
    font-size: 15px;
}

.description-card {
    height: 40%;
    width: 100%;
    background: rgb(192, 62, 62);
    
}

.card div {
    justify-content: center;
    align-items: center;
    padding-top: 1.5vh;
    display: flex;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.price {
    color: white;
}

.buy {
    padding: 0;
    border: none;
    width: 70px;
    height: 30px;
    color: white;
    background: none;
    font-size: 20px;
    cursor: pointer;
    font-size: 15px;
}

.bg-modal{
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    width: 550px;
    height: 500px;
}

footer {
    background-color: rgb(175, 65, 65);
}

.logo-footer {
    display: flex;
    justify-content: center;
    align-content: center;
}

.logo-footer img {
    width: 100px;
}

/* ------------------------------------------------ */
/* --------------------Tablet-----------------------*/
/* ------------------------------------------------ */

@media screen and (max-width: 1024px) {

    /* .menu {
        width: 55vh;
    } */

    .menu a {
        font-size: 15px;
        padding: 0 25px;
    }

    .logo img {
        width: 80px;
    }

    

    .screen-content {
        padding: 20%;
 }

    .title{
        font-size: 45px;
}

    .description{
        font-size: 20px;
}

    .btn-products{
        width: 250px;
        height: 45px;
        font-size: 18px;
}


.card {
    width: 170px;
    height: 210px;
}

}

/* ------------------------------------------------ */
/* --------------------Mobile----------------------*/
/* ------------------------------------------------ */

@media screen and (max-width: 500px) {


    nav {
        height: 20vh;
        display: grid;
        align-content: center;
        justify-content: center;
    }

    .menu {
        padding-top: 2vh;
        align-items: center;
    }

    .menu a {
        font-size: 11px;
    }
    
    .logo {
        margin-left: 0;
        text-align: center;
    }

    .logo img {
        width: 80px;
    }

    .screen {
        background-image: url(../../public/assets/background-mobile.jpeg);
        background-position: center;
    }

    .screen-content {
        padding: 50% 10%;
        text-align: center;
    }

    .title{
        font-size: 35px;
    }

    .description{
        font-size: 18px;
    }

    .btn-products{
        width: 20vh;
        height: 5vh;
        font-size: 18px;
    }

    .row {
        gap: 2%;
    }

    .card {

    }
    .contain-img {

    }
   }